[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
crispy-bootstrap5 = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
