{% extends "auctions/layout.html" %}
{% load prepend_dollars %}
{% block body %}
<style>
    .image {
        width: 350px;
        height: 350px;
    }
</style>
<div class="container">
    <div class="row">
        <p class="display-3 text-center" id="test">{{ category }}</p>
        <div class="row">
            {% if listings %}
            {% for listing in listings %} {% if listing.is_active %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-lg">
                    <img class="card-img-top img-fluid image" src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ listing.title }}</strong></p>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">Starting Bid: {{ listing.starting_bid|prepend_dollars }}</p>
                        {% if listing.get_current_bid %}
                        <p>{{ listing.get_current_bid }}</p>
                        {% else %}
                        <p>No bids yet</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ listing.get_absolute_url }}"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %} 
            {% endfor %}
            {% else %}
            <h3 class="text-center">No listings in this catagory yet</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#test').css('opacity', '0');
        $('#test').animate({
            opacity: 1
        }, 2000);



    });
</script>
{% endblock scripts %}