{% extends "auctions/layout.html" %}
{% load prepend_dollars %}
{% block body %}
<style>
    .image {
        width: 350px;
        height: 350px;
    }
</style>
<div class="container">
    <div class="row">
        <p class="display-3 text-center">Watchlist</p>
        <br />
        <div class="row">
        {% if not watchlist %}
            <p class="display-6 text-center">You have no items in your watchlist</p>
            {% else %}
            {% for listing in watchlist %} 
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top img-fluid image" src="{{ listing.listing.image_url }}"
                        alt="{{ listing.listing.title }}">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ listing.listing.title }}</strong></p>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text">Starting Bid: {{ listing.listing.starting_bid|prepend_dollars }}</p>
                        {% if listing.listing.get_current_bid %}
                        <p>{{ listing.listing.get_current_bid }}</p>
                        {% else %}
                        <p>No bids yet</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ listing.listing.get_absolute_url }}"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script> 
        $(document).ready(function() {
            $(".text-center").css({
                "color": "red",
                "font-size": "20px"
            });
            });
        })

    </script>
{% endblock scripts %}